:root {
    /* variables */
    --cg-black: rgb(30, 32, 32);
    --cg-blue: rgb(36, 94, 255);
    --cg-grey: rgb(230, 230, 230); /* --cg-grey: rgb(243, 243, 243); */
    --cg-white: rgb(255, 255, 255);
    --cg-slate-blue: rgba(31, 91, 119, 0.738);
    --cg-green: rgb(68, 158, 115);

  }

  * {
    font-family: 'Roboto Mono';
  }

  html {
    height: 100%;
  }
  
  body {
    background: var(--cg-grey);
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
  }
  
  /* CSS for navigation */
  .navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 10;
  
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  
    background-color: var(--cg-black);
    color: var(--cg-white);
    padding: 0px 0px;
  }

  main {
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .page-title {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace; 
   }

  .profile-section {
    display: flex;
    align-items: center;
}

  .profile-pic {
    margin: 0 auto;
    display: flex;
    width: 100%; /* Ensure the container takes the full width */
    max-width: 75%; /* Limit the width of the left side to 75% */
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  }

  .profile-pic img {
    width: 100%; /* Ensure the image takes the full width of the container */
    height: auto;

  }

.profile-pic::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 75%; 
}

/* You can adjust the gradient colors and transparency as needed. */



  .profile-links {
    display: flex;
    flex-direction: column;
  }

  .link-container {
    margin-bottom: 30px; /* Add some margin to separate the containers vertically */
    transition: all 0.2s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-container a {
    outline: 0;
    border: 0;
    font-weight: 600;
    color: black;
    font-size: 16px;
    text-align: center;
    height: 38px;
    padding: 8px 24px;
    border-radius: 50px;
    background-image: linear-gradient(180deg, #fff, #f5f5fa);
    box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
    transition: all 0.2s ease-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.link-container:active {
    position: relative;
    top: -5px; 
}

.link-container a:hover {
    box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%), 0 4px 6px 0 rgb(93 100 148 / 20%);
}

  .divider {
    width: 40%;
    border-top: 2px solid var(--cg-black); /* Adjust color and thickness as needed */
  }

  .intro-title{
    text-align: center;
    margin-top: 100px;
  }

  .intro{
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
  }

  .location-container {
    display: flex;
    align-items: center;
}

.location {
    width: 30px;
    height: 30px;
}

.seattle {
    margin-left: 10px; 
}
  .campus-pic{
    margin-top: 100px;
    width: 120%;
    max-width: 800px; 
    height: 1%;
  }

  .education {
    text-align: center;
    margin-bottom: 80px;
  }
  
  .education-divider {
    width: 40%;
    border-top: 2px solid var(--cg-black);
    margin: 0 auto;
  }

  .coursework {
    font-size: 15px;
  }
  /* CSS for portfolio grid */

  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
    margin-bottom: 150px;
}

  .project {
      border: 2px solid black;
      padding: 10px;
      text-align: center;
      max-width: 100%;
  }

  .project img {
      max-width: 100%;
      height: auto;
  }

  /* CSS for footer */
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cg-black);
    color: var(--cg-white);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
  }

  /* .w3rcontainer {
    border: 1px solid #cccfdb;
    border-radius: 2px;
  }
  
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--cg-grey);
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  } */

  /* * CSS for contact form */
  
  /* label {
    display: block;
    margin-bottom: 8px;
    font-family: Roboto Mono, monospace;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
  }
  
  .page-title{
    font-size: 38px;
  }
  /* Add some spacing to the form */
  /* form {
    width: 500px;
    margin: 0 auto;
  } */